
  .loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #e55353; /* red */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
.btnn {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

  .delete-account-btnn {
    background-color: #f44336; /* Red for Delete Account */
    color: white;
  }
  
  .delete-account-btnn:hover {
    background-color: #e53935; /* Darker red on hover */
    transform: scale(1.00);
  }

  .reidentify-btn {
    background-color: white; /* Red for Delete Account */
    color: black;
    border: 1px solid gray;
  }
  
  .reidentify-btn:hover {
    background-color: #dadada; /* Darker red on hover */
    transform: scale(1.00);
  }

  .export-btnn {
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.export-btnn.default {
  background-color: #FFA500;
  border-radius: 25px;
}

.export-btnn.default:hover {
  background-color: #e59400;
}

.export-btnn.active {
  background-color: #FFA500;
  border-radius: 25px;
}

.export-btnn.active:hover {
  background-color: #e59400;
}