.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #72F3F7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: none;
  }
  
  .custom-radio:checked {
    border-color: #72F3F7;
  }
  
  .custom-radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #72F3F7;
    transform: translate(-50%, -50%);
  }

  button {
    cursor: pointer;
  }
  
  .input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Define three equal-width columns */
    gap: 20px;  /* Adjust the space between each grid item */
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  /* Apply margin adjustment directly to h3 tags inside .input-box */
.input-box h3 {
  margin-bottom: 5px; /* Shortens the space between the label and the input */
  margin-top: 10px; /* Shortens the space between the label and the input */
}

/* Apply to input elements directly inside .input-box */
.input-box input {
  background-color: #FFF;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%; /* Ensures the input takes the full width */
  box-sizing: border-box;
  font-size: 12px;
  padding-left: 5px; /* Optional: adds padding inside the input */
}

/* Adjusting the overall height and padding for .input-box */
.input-box {
  border-radius: 5px;
  padding: 10px 15px; /* Reduces the space inside the box */
  height: 100px; /* Adjust height for compact design */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  
  .input-box p {
    font-size: 12px;
    color: #000000;
  }
  
  .input-box button {
    background-color: #68CABE;
    color: white;
    width: 100%;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  