.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #72F3F7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: none;
  }
  
  .custom-radio:checked {
    border-color: #72F3F7;
  }
  
  .custom-radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #72F3F7;
    transform: translate(-50%, -50%);
  }

  button {
    cursor: pointer;
  }
  
  .input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  /* Apply margin adjustment directly to h3 tags inside .input-box */
.input-box h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

/* Apply to input elements directly inside .input-box */
.input-box input {
  background-color: #FFF;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  padding-left: 5px;
}

/* Adjusting the overall height and padding for .input-box */
.input-box {
  border-radius: 5px;
  padding: 10px 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  
  .input-box p {
    font-size: 12px;
    color: #000000;
  }
  
  .input-box button {
    background-color: #68CABE;
    color: white;
    width: 100%;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }

  .loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ff4834, 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2), 2.5em 0em 0 0em rgba(255, 132, 136, 0.2), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.2), 0em 2.5em 0 0em rgba(255, 132, 136, 0.2), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.2), -2.6em 0em 0 0em rgba(255, 132, 136, 0.5), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.7), 1.8em -1.8em 0 0em #ff4834, 2.5em 0em 0 0em rgba(255, 132, 136, 0.2), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.2), 0em 2.5em 0 0em rgba(255, 132, 136, 0.2), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.2), -2.6em 0em 0 0em rgba(255, 132, 136, 0.2), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.5), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.7), 2.5em 0em 0 0em #ff4834, 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.2), 0em 2.5em 0 0em rgba(255, 132, 136, 0.2), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.2), -2.6em 0em 0 0em rgba(255, 132, 136, 0.2), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.2), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.5), 2.5em 0em 0 0em rgba(255, 132, 136, 0.7), 1.75em 1.75em 0 0em #ff4834, 0em 2.5em 0 0em rgba(255, 132, 136, 0.2), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.2), -2.6em 0em 0 0em rgba(255, 132, 136, 0.2), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.2), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2), 2.5em 0em 0 0em rgba(255, 132, 136, 0.5), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.7), 0em 2.5em 0 0em #ff4834, -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.2), -2.6em 0em 0 0em rgba(255, 132, 136, 0.2), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.2), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2), 2.5em 0em 0 0em rgba(255, 132, 136, 0.2), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.5), 0em 2.5em 0 0em rgba(255, 132, 136, 0.7), -1.8em 1.8em 0 0em #ff4834, -2.6em 0em 0 0em rgba(255, 132, 136, 0.2), -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.2), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2), 2.5em 0em 0 0em rgba(255, 132, 136, 0.2), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.2), 0em 2.5em 0 0em rgba(255, 132, 136, 0.5), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.7), -2.6em 0em 0 0em #ff4834, -1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 132, 136, 0.2), 1.8em -1.8em 0 0em rgba(255, 132, 136, 0.2), 2.5em 0em 0 0em rgba(255, 132, 136, 0.2), 1.75em 1.75em 0 0em rgba(255, 132, 136, 0.2), 0em 2.5em 0 0em rgba(255, 132, 136, 0.2), -1.8em 1.8em 0 0em rgba(255, 132, 136, 0.5), -2.6em 0em 0 0em rgba(255, 132, 136, 0.7), -1.8em -1.8em 0 0em #ff4834;
    }    
  }
  