/* Styling ONLY the scrollbar inside the justification box */
.justification-box::-webkit-scrollbar {
    width: 8px;
}

.justification-box::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    border-radius: 25px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    background-clip: padding-box;
    overflow: hidden;
}

.justification-box::-webkit-scrollbar-track {
    background: transparent;
}

/* Little trick to push scrollbar more "inside" visually */
.justification-box {
    padding-right: 30px;
}

.new-device-btn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 18px;
  background-color: #68CABE;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.new-device-btn:hover {
  background-color: #4EB5AA;
}

