.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #72F3F7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: none;
  }
  
  .custom-radio:checked {
    border-color: #72F3F7;
  }
  
  .custom-radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #72F3F7;
    transform: translate(-50%, -50%);
  }

  button {
    cursor: pointer;
  }
  
  .input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Define three equal-width columns */
    gap: 20px;  /* Adjust the space between each grid item */
  }
  
  .input-box {
    border-radius: 5px;
    padding: 15px;
    height: 120px; /* Adjust the height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .input-box input {
    background-color: #FFF;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 120%;
    overflow: hidden; /* Prevents overflow */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
    white-space: nowrap; /* Prevents wrapping */
    word-wrap: break-word; /* Allows breaking of words if necessary */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    font-size: 12px;
  }
  
  
  .input-box p {
    font-size: 12px;
    color: #000000;
  }
  
  .input-box button {
    background-color: #68CABE;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  